%h3 Your new gallery has been created!
Gallery:
%br
%a(href=@showlink)= @showlink
%br
%br
Gallery password (save + keep private!):
%br
%h2= @password

- if PASSWORD
  %br
  You still need to enter the site password to activate it. Please visit the Gallery page!
